<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.isencepay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ISencePay">
        <activity android:name=".ReminderDetails"></activity>
        <activity android:name=".VehicleProfile" />
        <activity android:name=".First" />
        <activity android:name=".NewVehicle" />
        <activity android:name=".Profile" />
        <activity android:name=".History" />
        <activity android:name=".Reminders" />
        <activity android:name=".Offences" />
        <activity android:name=".Vehicles" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>